body {
	/*
	background-color: #FFFFFF;
	*/
	background-image: url(../images/hektor.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

.main{
	width: 600px;
	background-color: rgba(115,88,88,0.7);
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 10px 10px 10px 10px 

}

h1 {
	font-family: 'Cabin', sans-serif;
	font-size: 60px;
	text-shadow: 0 0 40px #0033ff;

}

h1,
h2 {
	text-align: center;

}

/* comment example */

h2 {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 10px;
}


p,
ul,
ol {
	line-height: 1.4;
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #fe0099;
}

a:focus,
a:hover {
	text-decoration: underline;
	color: red;
}

img {
	margin: 0 auto;
	display: block;
	width: 200px;
	border: 10px dotted #574848;
	border-radius: 40%; 
}

